<!--
  Generated template for the TomarPedidoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>tomarPedido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>-->


<!--<ion-header>
    <ion-navbar color="red">
  
      <ion-buttons>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
 
  
      <ion-buttons end>
        <button ion-button>
          <ion-icon name="power"></ion-icon>
        </button>
      </ion-buttons>
  
    </ion-navbar>
  </ion-header>
  
    <ion-menu [content]="content">
      <ion-header>
        <ion-toolbar color="red">
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <button ion-item>
              <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;Convencional
          </button>
          <button ion-item>
            Friends
          </button>
          <button ion-item>
            Events
          </button>
          <button ion-item>
            Close Menu
          </button>
        </ion-list>
      </ion-content>
    </ion-menu>
  
    <ion-nav #content swipeBackEnabled="false"></ion-nav>-->

   <!-- <ion-header>
        <ion-navbar>
          <ion-title>
            Academy Pizza
          </ion-title>
        </ion-navbar>
      </ion-header>-->

      <ion-header>
        <ion-navbar color="red" hideBackButton="true">

          <ion-buttons start style="left: 3px;
          position: absolute;">
          <button ion-button (click)="volver()">
        <ion-icon name="arrow-back"></ion-icon>
         </button>
        </ion-buttons>

        <!-- <ion-title class="titulo2">
            {{usuario.tipo}}
          </ion-title> -->
          
          <ion-buttons end>

      
            <button ion-button (click)="Logout()">
              <ion-icon name="power"></ion-icon>
            </button>
          </ion-buttons>
      
        </ion-navbar>
      </ion-header>
       
     <!-- <ion-content>
        <ion-list class="accordion-list">
         
          <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
           
           <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
              <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
              <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
                {{ item.name }}
            </button>
          
            <ion-list *ngIf="item.children && item.open" no-lines>
              
              <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
            
                <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
                  <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
                  <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
                  {{ child.name }}
                </button>
       
               
                <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
                  <h2>{{ child.name }}</h2>
                  <p text-lowercase>{{ child.information }}</p>
                  <button ion-button outline item-end (click)="buyItem(child)">{{ child.estado }}</button>
                </ion-item>
       
                <ion-list *ngIf="child.children && child.open">
             
                  <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
                    <h2>{{ item.name }}</h2>
                    <p text-lowercase>{{ item.information }}</p>
                  >
                    <button ion-button outline item-end (click)="buyItem(child)">Cambiar tiempo estimado</button>
                    <button ion-button outline item-end (click)="buyItem(item)">Terminar pedido</button>
                  </ion-item>

                  <div *ngFor="let phone of user_data" >
                    {{phone.phone}}
                    asdasd
                  </div>

                       </ion-list>
       
              </ion-list-header>
              
            </ion-list>
    
                
               

              

        

                  



           
            
          </ion-list-header>
        </ion-list>

        <button ion-button class="submit-btn" color="red" style="margin: 0 30px 0 0;width: 70%" (click)="probando()" >Dar de alta la mesa</button>
      
      </ion-content>
    -->

    
    <ion-content>

      <div *ngIf="vistaCocinero"> 

          <div class="asdasd" *ngIf="sinPedidos">
              NO HAY PEDIDOS
            </div>


      </div>

      <div *ngIf="vistaBartender">

          <div class="asdasd" *ngIf="sinPedidos">
              NO HAY PEDIDOS
            </div>

       </div>


     <!-- <div class="asdasd" *ngIf="sinPedidos">
        NO HAY PEDIDOS
      </div>-->




        <ion-list *ngIf="vistaCocinero">

          <div *ngIf="vistaCocinaMesaUno">

            <h2 class="titulo">Lista de pedidos para la mesa 1</h2>

            <div *ngIf="ponerTiempoMesaCocinaUnoIcono">

            <button ion-button clear item-end (click)="pregunta1()">
              
                <ion-icon name="alarm"></ion-icon>
              </button>

            </div>

            <div *ngIf="terminarPedidoMesaCocinaUnoIcono">
              
              <button ion-button clear item-end (click)="terminarPedidoUnoCocinero()">
                
                  <ion-icon name="checkmark-circle"></ion-icon>
                </button>

              </div>
  
          <ion-item *ngFor="let item of pedidosCocinaUno">
            <ion-thumbnail item-start>
              <!--<img src={{item.img}}>-->
              <ion-icon name="restaurant"></ion-icon>
            </ion-thumbnail>
      
          <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
            <p>Cliente • {{item.tipo}}</p>-->
            <h1>Nombre: {{item.nombre}}</h1>
            <p>Cantidad: {{item.cantidad}}</p>



  
          </ion-item>

        </div>


      </ion-list>

      <ion-list *ngIf="vistaBartender">

        <div *ngIf="vistaBartenderMesaUno">

          <h2 class="titulo">Lista de pedidos para la mesa 1</h2>

          
            
            <button ion-button clear item-end (click)="TerminarPedidoUnoBartender()">
              
                <ion-icon name="checkmark-circle"></ion-icon>
              </button>

        <ion-item *ngFor="let item of pedidosBartenderUno">
          <ion-thumbnail item-start>
            <!--<img src={{item.img}}>-->
            <ion-icon name="restaurant"></ion-icon>
          </ion-thumbnail>
    
        <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
          <p>Cliente • {{item.tipo}}</p>-->
          <h1>Nombre: {{item.nombre}}</h1>
          <p>Cantidad: {{item.cantidad}}</p>




        </ion-item>


      </div>

    </ion-list>

    <ion-list *ngIf="vistaCocinero">

        <div *ngIf="vistaCocinaMesaDos">

        <h2 class="titulo">Lista de pedidos para la mesa 2</h2>

        <div *ngIf="ponerTiempoMesaCocinaDosIcono">

        <button ion-button clear item-end (click)="pregunta2()">
          
            <ion-icon name="alarm"></ion-icon>
          </button>

        </div>

        <div *ngIf="terminarPedidoMesaCocinaDosIcono">
          
          <button ion-button clear item-end (click)="terminarPedidoDosCocinero()">
            
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>

          </div>

      <ion-item *ngFor="let item of pedidosCocinaDos">
        <ion-thumbnail item-start>
          <!--<img src={{item.img}}>-->
          <ion-icon name="restaurant"></ion-icon>
        </ion-thumbnail>
  
      <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
        <p>Cliente • {{item.tipo}}</p>-->
        <h1>Nombre: {{item.nombre}}</h1>
        <p>Cantidad: {{item.cantidad}}</p>




      </ion-item>

      </div>




  </ion-list>

  <ion-list *ngIf="vistaBartender">

      <div *ngIf="vistaBartenderMesaDos">



      <h2 class="titulo">Lista de pedidos para la mesa 2</h2>

     
        
        <button ion-button clear item-end (click)="TerminarPedidoDosBartender()">
          
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>

    <ion-item *ngFor="let item of pedidosBartenderDos">
      <ion-thumbnail item-start>
        <!--<img src={{item.img}}>-->
        <ion-icon name="restaurant"></ion-icon>
      </ion-thumbnail>

    <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
      <p>Cliente • {{item.tipo}}</p>-->
      <h1>Nombre: {{item.nombre}}</h1>
      <p>cantidad: {{item.cantidad}}</p>




    </ion-item>

    </div>

</ion-list>

<ion-list *ngIf="vistaCocinero">

    <div *ngIf="vistaCocinaMesaTres">

    <h2 class="titulo">Lista de pedidos para la mesa 3</h2>

    <div *ngIf="ponerTiempoMesaCocinaTresIcono">

    <button ion-button clear item-end (click)="pregunta3()">
      
        <ion-icon name="alarm"></ion-icon>
      </button>
      
    </div>
  
    <div *ngIf="terminarPedidoMesaCocinaTresIcono">

    
      <button ion-button clear item-end (click)="terminarPedidoTresCocinero()">
        
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>

      </div>

  <ion-item *ngFor="let item of pedidosCocinaTres">
    <ion-thumbnail item-start>
      <!--<img src={{item.img}}>-->
      <ion-icon name="restaurant"></ion-icon>
    </ion-thumbnail>

  <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
    <p>Cliente • {{item.tipo}}</p>-->
    <h1>Nombre: {{item.nombre}}</h1>
    <p>Cantidad: {{item.cantidad}}</p>




  </ion-item>

    </div>


</ion-list>

<ion-list *ngIf="vistaBartender">

    <div *ngIf="vistaBartenderMesaTres">

    <h2 class="titulo">Lista de pedidos para la mesa 3</h2>

    
      
      <button ion-button clear item-end (click)="terminarPedidoTresBartender()">
        
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>

  <ion-item *ngFor="let item of pedidosBartenderTres">
    <ion-thumbnail item-start>
      <!--<img src={{item.img}}>-->
      <ion-icon name="restaurant"></ion-icon>
    </ion-thumbnail>

  <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
    <p>Cliente • {{item.tipo}}</p>-->
    <h1>Nombre: {{item.nombre}}</h1>
    <p>Cantidad: {{item.cantidad}}</p>




  </ion-item>

  </div>


</ion-list>









        

        <ion-list *ngIf="vistaCocinero">

            <div *ngIf="vistaCocinaMesaCuatro">

            <h2 class="titulo">Lista de pedidos para la mesa 4</h2>

            <div *ngIf="ponerTiempoMesaCocinaCuatroIcono">

            <button ion-button clear item-end (click)="pregunta4()">
              
                <ion-icon name="alarm"></ion-icon>
              </button>

            </div>

            <div *ngIf="terminarPedidoMesaCocinaCuatroIcono">
              
              <button ion-button clear item-end (click)="terminarPedidoCuatroCocinero()">
                
                  <ion-icon name="checkmark-circle"></ion-icon>
                </button>

              </div>
  
          <ion-item *ngFor="let item of pedidosCocinaCuatro">
            <ion-thumbnail item-start>
              <!--<img src={{item.img}}>-->
              <ion-icon name="restaurant"></ion-icon>
            </ion-thumbnail>
      
          <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
            <p>Cliente • {{item.tipo}}</p>-->
            <h1>Nombre: {{item.nombre}}</h1>
            <p>Cantidad: {{item.cantidad}}</p>



  
          </ion-item>

          </div>


      </ion-list>

      <ion-list *ngIf="vistaBartender">

          <div *ngIf="vistaBartenderMesaCuatro">

          <h2 class="titulo">Lista de pedidos para la mesa 4</h2>

          <button ion-button clear item-end (click)="terminarPedidoCuatroBartender()">
                
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>



          <ion-item *ngFor="let item of pedidosBartenderCuatro">
            <ion-thumbnail item-start>
              <!--<img src={{item.img}}>-->
              <ion-icon name="person"></ion-icon>
            </ion-thumbnail>
      
          <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
            <p>Cliente • {{item.tipo}}</p>-->
            <h1>Nombre: {{item.nombre}}</h1>
            <p>Cantidad: {{item.cantidad}}</p>
           
      
            
          </ion-item>

          </div>
      
        </ion-list>

        <ion-list *ngIf="vistaCocinero">

          <div *ngIf="vistaCocinaMesaCinco">

            <h2 class="titulo">Lista de pedidos para la mesa 5</h2>


            <div *ngIf="ponerTiempoMesaCocinaCincoIcono">

            <button ion-button clear item-end (click)="pregunta5()">
              
                <ion-icon name="alarm"></ion-icon>
              </button>

            </div>

            <div *ngIf="terminarPedidoMesaCocinaCincoIcono">

              <button ion-button clear item-end (click)="terminarPedidoCincoCocinero()">
                
                  <ion-icon name="checkmark-circle"></ion-icon>
                </button>

              </div>

           
  
          <ion-item *ngFor="let item of pedidosCocinaCinco">
            <ion-thumbnail item-start>
              <!--<img src={{item.img}}>-->
              <ion-icon name="person"></ion-icon>
            </ion-thumbnail>
      
          <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
            <p>Cliente • {{item.tipo}}</p>-->
            <h1>Nombre: {{item.nombre}}</h1>
            <p>Cantidad: {{item.cantidad}}</p>
           
      
           
          </ion-item>

        </div>


      </ion-list>

      <ion-list *ngIf="vistaBartender">

          <div *ngIf="vistaBartenderMesaCinco">

          <h2 class="titulo">Lista de pedidos para la mesa 5</h2>

          

          <button ion-button clear item-end (click)="terminarPedidoCincoBartender()">
                
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>

         



        <ion-item *ngFor="let item of pedidosBartenderCinco">
          <ion-thumbnail item-start>
            <!--<img src={{item.img}}>-->
            <ion-icon name="person"></ion-icon>
          </ion-thumbnail>
    
        <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
          <p>Cliente • {{item.tipo}}</p>-->
          <h1>Nombre: {{item.nombre}}</h1>
          <p>Cantidad: {{item.cantidad}}</p>
         
    
          
        </ion-item>

          </div>


    </ion-list>

    <ion-list *ngIf="vistaCocinero">

        <div *ngIf="vistaCocinaMesaSeis">

        <h2 class="titulo">Lista de pedidos para la mesa 6</h2>

        <div *ngIf="ponerTiempoMesaCocinaSeisIcono">

        <button ion-button clear item-end (click)="pregunta6()">
          
            <ion-icon name="alarm"></ion-icon>
          </button>

        </div>

        <div *ngIf="terminarPedidoMesaCocinaSeisIcono">
          
          <button ion-button clear item-end (click)="terminarPedidoSeisCocinero()">
            
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>

          </div>

      <ion-item *ngFor="let item of pedidosCocinaSeis">
        <ion-thumbnail item-start>
          <!--<img src={{item.img}}>-->
          <ion-icon name="restaurant"></ion-icon>
        </ion-thumbnail>
  
      <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
        <p>Cliente • {{item.tipo}}</p>-->
        <h1>Nombre: {{item.nombre}}</h1>
        <p>Cantidad: {{item.cantidad}}</p>




      </ion-item>

        </div>

    </ion-list>

    <ion-list *ngIf="vistaBartender">
      
        <div *ngIf="vistaBartenderMesaSeis">

        <h2 class="titulo">Lista de pedidos para la mesa 6</h2>



        
          
          <button ion-button clear item-end (click)="terminarPedidoSeisBartender()">
            
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>

      <ion-item *ngFor="let item of pedidosBartenderSeis">
        <ion-thumbnail item-start>
          <!--<img src={{item.img}}>-->
          <ion-icon name="restaurant"></ion-icon>
        </ion-thumbnail>
  
      <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
        <p>Cliente • {{item.tipo}}</p>-->
        <h1>Nombre: {{item.nombre}}</h1>
        <p>Cantidad: {{item.cantidad}}</p>




      </ion-item>

        </div>

    </ion-list>
    

    <ion-list *ngIf="vistaCocinero">

        <div *ngIf="vistaCocinaMesaSiete">

        <h2 class="titulo">Lista de pedidos para la mesa 7</h2>

        <div *ngIf="ponerTiempoMesaCocinaSieteIcono">

        <button ion-button clear item-end (click)="pregunta7()">
          
            <ion-icon name="alarm"></ion-icon>
          </button>

        </div>

        <div *ngIf="terminarPedidoMesaCocinaSieteIcono">
          
          <button ion-button clear item-end (click)="terminarPedidoSieteCocinero()">
            
              <ion-icon name="checkmark-circle"></ion-icon>
            </button>

          </div>

      <ion-item *ngFor="let item of pedidosCocinaSiete">
        <ion-thumbnail item-start>
          <!--<img src={{item.img}}>-->
          <ion-icon name="restaurant"></ion-icon>
        </ion-thumbnail>
  
      <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
        <p>Cliente • {{item.tipo}}</p>-->
        <h1>Nombre: {{item.nombre}}</h1>
        <p>Cantidad: {{item.cantidad}}</p>




      </ion-item>

        </div>


  </ion-list>


  <ion-list *ngIf="vistaBartender">

      <div *ngIf="vistaBartenderMesaSiete">

      <h2 class="titulo">Lista de pedidos para la mesa 7</h2>

      
        
        <button ion-button clear item-end (click)="terminarPedidoSieteBartender()">
          
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>

    <ion-item *ngFor="let item of pedidosBartenderSiete">
      <ion-thumbnail item-start>
        <!--<img src={{item.img}}>-->
        <ion-icon name="restaurant"></ion-icon>
      </ion-thumbnail>

    <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
      <p>Cliente • {{item.tipo}}</p>-->
      <h1>Nombre: {{item.nombre}}</h1>
      <p>Cantidad: {{item.cantidad}}</p>




    </ion-item>

      </div>


</ion-list>


<ion-list *ngIf="vistaCocinero">

    <div *ngIf="vistaCocinaMesaOcho">

    <h2 class="titulo">Lista de pedidos para la mesa 8</h2>

    <div *ngIf="ponerTiempoMesaCocinaOchoIcono">

    <button ion-button clear item-end (click)="pregunta8()">
      
        <ion-icon name="alarm"></ion-icon>
      </button>

    </div>

    <div *ngIf="terminarPedidoMesaCocinaOchoIcono">
      
      <button ion-button clear item-end (click)="terminarPedidoOchoCocinero()">
        
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>

      </div>

  <ion-item *ngFor="let item of pedidosCocinaOcho">
    <ion-thumbnail item-start>
      <!--<img src={{item.img}}>-->
      <ion-icon name="restaurant"></ion-icon>
    </ion-thumbnail>

  <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
    <p>Cliente • {{item.tipo}}</p>-->
    <h1>Nombre: {{item.nombre}}</h1>
    <p>Cantidad: {{item.cantidad}}</p>




  </ion-item>

    </div>


</ion-list>


<ion-list *ngIf="vistaBartender">

    <div *ngIf="vistaBartenderMesaOcho">

    <h2 class="titulo">Lista de pedidos para la mesa 8</h2>

    
      
      <button ion-button clear item-end (click)="terminarPedidoOchoBartender()">
        
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>

  <ion-item *ngFor="let item of pedidosBartenderOcho">
    <ion-thumbnail item-start>
      <!--<img src={{item.img}}>-->
      <ion-icon name="restaurant"></ion-icon>
    </ion-thumbnail>

  <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
    <p>Cliente • {{item.tipo}}</p>-->
    <h1>Nombre: {{item.nombre}}</h1>
    <p>Cantidad: {{item.cantidad}}</p>




  </ion-item>

    </div>


</ion-list>


<ion-list *ngIf="vistaCocinero">

    <div *ngIf="vistaCocinaMesaNueve">

    <h2 class="titulo">Lista de pedidos para la mesa 9</h2>

    <div *ngIf="ponerTiempoMesaCocinaNueveIcono">

    <button ion-button clear item-end (click)="pregunta9()">
      
        <ion-icon name="alarm"></ion-icon>
      </button>

    </div>

    <div *ngIf="terminarPedidoMesaCocinaNueveIcono">
      
      <button ion-button clear item-end (click)="terminarPedidoNueveCocinero()">
        
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>

      </div>

  <ion-item *ngFor="let item of pedidosCocinaNueve">
    <ion-thumbnail item-start>
      <!--<img src={{item.img}}>-->
      <ion-icon name="restaurant"></ion-icon>
    </ion-thumbnail>

  <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
    <p>Cliente • {{item.tipo}}</p>-->
    <h1>Nombre: {{item.nombre}}</h1>
    <p>Cantidad: {{item.cantidad}}</p>




  </ion-item>

    </div>


</ion-list>

<ion-list *ngIf="vistaBartender">

    <div *ngIf="vistaBartenderMesaNueve">

    <h2 class="titulo">Lista de pedidos para la mesa 9</h2>

    
      
      <button ion-button clear item-end (click)="terminarPedidoNueveBartender()">
        
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>

  <ion-item *ngFor="let item of pedidosBartenderNueve">
    <ion-thumbnail item-start>
      <!--<img src={{item.img}}>-->
      <ion-icon name="restaurant"></ion-icon>
    </ion-thumbnail>

  <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
    <p>Cliente • {{item.tipo}}</p>-->
    <h1>Nombre: {{item.nombre}}</h1>
    <p>Cantidad: {{item.cantidad}}</p>




  </ion-item>

    </div>


</ion-list>

<ion-list *ngIf="vistaCocinero">

    <div *ngIf="vistaCocinaMesaDiez">

    <h2 class="titulo">Lista de pedidos para la mesa 10</h2>

    <div *ngIf="ponerTiempoMesaCocinaDiezIcono">

    <button ion-button clear item-end (click)="pregunta10()">
      
        <ion-icon name="alarm"></ion-icon>
      </button>

    </div>

    <div *ngIf="terminarPedidoMesaCocinaDiezIcono">
      
      <button ion-button clear item-end (click)="terminarPedidoDiezCocinero()">
        
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>

      </div>

  <ion-item *ngFor="let item of pedidosCocinaDiez">
    <ion-thumbnail item-start>
      <!--<img src={{item.img}}>-->
      <ion-icon name="restaurant"></ion-icon>
    </ion-thumbnail>

  <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
    <p>Cliente • {{item.tipo}}</p>-->
    <h1>Nombre: {{item.nombre}}</h1>
    <p>Cantidad: {{item.cantidad}}</p>




  </ion-item>

    </div>


</ion-list>

<ion-list *ngIf="vistaBartender">

    <div *ngIf="vistaBartenderMesaDiez">

    <h2 class="titulo">Lista de pedidos para la mesa 10</h2>

    
      
      <button ion-button clear item-end (click)="terminarPedidoDiezBartender()">
        
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>

  <ion-item *ngFor="let item of pedidosBartenderDiez">
    <ion-thumbnail item-start>
      <!--<img src={{item.img}}>-->
      <ion-icon name="restaurant"></ion-icon>
    </ion-thumbnail>

  <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
    <p>Cliente • {{item.tipo}}</p>-->
    <h1>Nombre: {{item.nombre}}</h1>
    <p>Cantidad: {{item.cantidad}}</p>




  </ion-item>

    </div>


</ion-list>


  <ion-list *ngIf="vistaCocinero">

    <div *ngIf="vistaDeliveryCocinero">
      <div>

        <h2 class="titulo">Pedidos delivery</h2>

        

        <ion-item *ngFor="let item of pedidosDeliveryCocinero">

            

            <!--<ion-thumbnail item-start>
                
                <ion-icon name="bycicle"></ion-icon>
              </ion-thumbnail>-->
          
            <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
              <p>Cliente • {{item.tipo}}</p>-->
              <h3>{{item}}</h3>

              <button ion-button clear item-end (click)="terminarDeliveryCocinero(item)">
        
                  <ion-icon name="checkmark-circle"></ion-icon>
                </button>
              
            
     
        </ion-item>

      </div>

    </div>

  </ion-list>

  <ion-list *ngIf="vistaBartender">


    <div *ngIf="vistaDeliveryBartender">
        <div>
  
          <h2 class="titulo">Pedidos delivery</h2>
  
          
  
          <ion-item *ngFor="let item of pedidosDeliveryBartender">
  
              
  
             <!-- <ion-thumbnail item-start>
                  <img src={{item.img}}>
                  <ion-icon name="restaurant"></ion-icon>
                </ion-thumbnail>-->
            
              <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
                <p>Cliente • {{item.tipo}}</p>-->
                <h3>{{item}}</h3>
  
                <button ion-button clear item-end (click)="terminarDeliveryBartender(item)">
          
                    <ion-icon name="checkmark-circle"></ion-icon>
                  </button>
                
              
       
          </ion-item>
  
        </div>
          
      </div>


   





  </ion-list>
  
  



    </ion-content>

    <div class="pregunta1"  [ngClass]="{'noMostrar':ocultarUno}">
        <div class="laPregunta1">
           
            <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
     
            <ion-item>
        
                <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaUno"></ion-input>
              </ion-item>
              <button class="aceptar"  (click)="Aceptar1()"  ion-button color="red">Aceptar</button>
              
          </div>
      </div>


      <div class="pregunta2"  [ngClass]="{'noMostrar':ocultarDos}">
          <div class="laPregunta2">
             
              <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
       
              <ion-item>
          
                  <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaDos"></ion-input>
                </ion-item>
                <button class="aceptar"  (click)="Aceptar2()"  ion-button color="red">Aceptar</button>
                
            </div>
        </div>

        <div class="pregunta3"  [ngClass]="{'noMostrar':ocultarTres}">
            <div class="laPregunta3">
               
                <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
         
                <ion-item>
            
                    <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaTres"></ion-input>
                  </ion-item>
                  <button class="aceptar"  (click)="Aceptar3()"  ion-button color="red">Aceptar</button>
                  
              </div>
          </div>


    <div class="pregunta4"  [ngClass]="{'noMostrar':ocultarCuatro}">
        <div class="laPregunta4">
           
            <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
     
            <ion-item>
        
                <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaCuatro"></ion-input>
              </ion-item>
              <button class="aceptar"  (click)="Aceptar4()"  ion-button color="red">Aceptar</button>
              
          </div>
      </div>

      <div class="pregunta5"  [ngClass]="{'noMostrar':ocultarCinco}">
          <div class="laPregunta5">
             
              <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
       
              <ion-item>
          
                  <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaCinco"></ion-input>
                </ion-item>
                <button class="aceptar"  (click)="Aceptar5()"  ion-button color="red">Aceptar</button>
                
            </div>
        </div>

        <div class="pregunta6"  [ngClass]="{'noMostrar':ocultarSeis}">
            <div class="laPregunta6">
               
                <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
         
                <ion-item>
            
                    <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaSeis"></ion-input>
                  </ion-item>
                  <button class="aceptar"  (click)="Aceptar6()"  ion-button color="red">Aceptar</button>
                  
              </div>
          </div>


      <div class="pregunta7"  [ngClass]="{'noMostrar':ocultarSiete}">
          <div class="laPregunta7">
             
              <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
       
              <ion-item>
          
                  <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaSiete"></ion-input>
                </ion-item>
                <button class="aceptar"  (click)="Aceptar7()"  ion-button color="red">Aceptar</button>
                
            </div>
        </div>

        <div class="pregunta8"  [ngClass]="{'noMostrar':ocultarOcho}">
            <div class="laPregunta8">
               
                <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
         
                <ion-item>
            
                    <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaOcho"></ion-input>
                  </ion-item>
                  <button class="aceptar"  (click)="Aceptar8()"  ion-button color="red">Aceptar</button>
                  
              </div>
          </div>

          <div class="pregunta9"  [ngClass]="{'noMostrar':ocultarNueve}">
              <div class="laPregunta9">
                 
                  <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
           
                  <ion-item>
              
                      <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaNueve"></ion-input>
                    </ion-item>
                    <button class="aceptar"  (click)="Aceptar9()"  ion-button color="red">Aceptar</button>
                    
                </div>
            </div>

            <div class="pregunta10"  [ngClass]="{'noMostrar':ocultarDiez}">
                <div class="laPregunta10">
                   
                    <h2>¿Cuál es el tiempo mínimo para este pedido?</h2>
             
                    <ion-item>
                
                        <ion-input placeholder="Escríbalo aquí"  [(ngModel)]="tiempoMesaDiez"></ion-input>
                      </ion-item>
                      <button class="aceptar"  (click)="Aceptar10()"  ion-button color="red">Aceptar</button>
                      
                  </div>
              </div>

          