@font-face {
    src: url("../../assets/fonts/Lobster-Regular.ttf");
    font-family: lobster;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

page-login {

    body {
        width: 100%;
    }

    .ani {
        -webkit-animation: rotar 6000ms linear infinite both;
        animation: rotar 6000ms linear infinite both;
    }

    div.vertical-container {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        background-size: cover;
        font-family: roboto;
    }

    div.horizontal-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.3);
    }

    img.background {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    div.header {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    img {
        width: 15vh;
        height: 15vh;

    }

    h1 {
        display: inline;
        font-size: 80px;
        margin-right: 25px;
        font-weight: 100;
        color: white;
        font-family: lobster;
    }

    input, select {
        width: 75%;
        border: gray solid 2px;
        margin: 10px;
        padding: 5px;
        margin: 7vh 0 7vh 0;
        font-size: 25px;
        transition-duration: .3s;
        transition-property: border-bottom-color font-size;
        background-color: rgba(255, 255, 255, 0.8);
        caret-color: color($colors, red);
    }

    select {
        margin: 0 0 10px 0;
    }

    input:first-of-type {
        margin-bottom: 3vh;
    }

    input:focus {
        transform: scale(1.2);
        border-color: color($colors, red);;
        background-color: rgb(255, 255, 255); 
    }

    span {
        color: white;
        font-size: 20px;
        margin-bottom: 7vh;
    }

    button[ion-button] {
        padding: 30px;
        width: 20ch;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: none;
    }

    div.usuarios {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 3;

        button {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            color: white;   
            font-size: 30px;
            padding: 0;
            margin: 0;
            background-color: color($colors, red);
        }

        div {
            position: absolute;
            top: 0;
            z-index: -1;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            color: white;
            transition: .5s;
            overflow: hidden;

            button {
                display: block;
                width: 100%;
                height: 40px;
                border-radius: 0;
                border-bottom: 1px solid rgba(255, 255, 255, .4);
                text-align: left;
                background-color: color($colors, red);
                padding-left: 10px;
                font-size: 20px;
            }

            button:last-child {
                border-bottom: none;
            }
        }

        .agrandar {
            width: 150px;
            border-radius: 0;
            height: 400px;
        }
    }

    .ocultar {
        display: none !important;
    }
}