page-principal {

    //.scroll-content { overflow: hidden; }
    .scroll-content { background-color: #FCE5C6; }

    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    ion-menu {
        .scroll-content { background-color: #FCE5C6; }
        button {
            background-color: transparent !important;
        }
    }

    .img-menu {
        width: 100%;
        height: auto;
    }

    .nombre-menu {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    .hr-menu {
        background-color: color($colors, red);
    }

    ion-icon {
        color: color($colors, red);
        font-size: 0px;
    }

    .card-background-page {

        button[ion-button] {
            width: 100%;
            height: 50%;
            margin: 0;
            padding: 0;
            font-size: 9vw;
            font-weight: bold;
            color: #fff;
            text-transform: none;
            white-space: normal;
            line-height: 1.6;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: -2;
            }

            span {
                padding: 0 10px 0 10px;
            }
        }

        button[ion-button]:nth-of-type(2n + 2) {
            margin: 16px 0 16px 0;
        }

        button[ion-button]:last-child {
            margin-bottom: 16px;
        }

        .card-subtitle:last-child { top: 60%; }
      }

      .sombreado {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          background-color: black;
          opacity: .6;
      }

      .animation-target {
        animation-name: jelly;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

      .ocultar {
          display: none !important;
      }

}
