<!--
  Generated template for the EncuestaDeEmpleadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Encuesta De Empleado</ion-title>
  </ion-navbar>

</ion-header>-->

<!--<ion-header>
  <ion-navbar color="red">
    <ion-title>
      Encuesta de empleados
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="Logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>-->




<ion-content padding  class="cds" >
  
  

    

 <!-- <ion-list class="list">-->

  <div *ngIf="encuestita">

    
<!-- style="font-size: 150%;"-->
    <ion-list-header style="background-color:#CF4946">
        <div class="realizarEncuesta">Realice la encuesta</div>
      </ion-list-header>

      <ion-grid>

          <ion-row>
              <ion-col col-12>
                  <ion-label class="lb" >¿Cuán limpio es el lugar?</ion-label>
                </ion-col>
              </ion-row>

        
          <ion-row>
              <ion-col col-12>
      
      <ion-item>
        
        <ion-range [(ngModel)]="uno" min="1" max="3" pin="true">
            <ion-icon range-left  name="sad"></ion-icon>
            <ion-icon range-right name="happy"></ion-icon>

        </ion-range>
      </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-12>
              <ion-label class="lb" >¿Qué opina del lugar?</ion-label>
            </ion-col>
          </ion-row>


      <ion-row>
          <ion-col col-12>

      
      <ion-item >
         
          <ion-input placeholder="Escriba su opinión" [(ngModel)]="dos"> </ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

      <!--</ion-list>-->

      <ion-row>
          <ion-col col-12>
              <ion-label class="lb" >¿Lo tratan bien sus jefes?</ion-label>
            </ion-col>
          </ion-row>

      <ion-row>

        <ion-list radio-group style="margin: 0 30px 0 0;width: 70%;font-size: 150%;display:block;
        margin: 0 auto;" [(ngModel)]="tres">
          <ion-col col-6>

      
     
      <ion-item>
          <ion-label>Sí</ion-label>
          <ion-radio value="si" checked ></ion-radio>
        </ion-item>

      </ion-col>

        <ion-col col-6>
      
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="no" ></ion-radio>
        </ion-item>

      </ion-col>

    </ion-list>

      

    </ion-row>

    <ion-row>
        <ion-col col-12>
            <ion-label class="lb">¿Le pagan bien?</ion-label>
          </ion-col>
        </ion-row>
          
    <ion-row>
        <ion-col col-12>

         
          <ion-item>
              <ion-label>Elija una opción</ion-label>
              <ion-select [(ngModel)]="cuatro">
                <ion-option value="si">Sí</ion-option>
                <ion-option value="no">No</ion-option>
                
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
               
          <ion-label class="lb">¿Dejaría de trabajar acá?</ion-label>
              </ion-col>
            </ion-row>

        <ion-row>

        

            <ion-col col-6>


          <ion-item>
              <ion-label >Sí</ion-label>
            <ion-checkbox [(ngModel)]="cinco.item1" (click)="pruebita()"  value="si" checked>Si</ion-checkbox>
            
          </ion-item>

        </ion-col>

          <ion-col col-6>

          <ion-item>
              <ion-label >No</ion-label>
            <ion-checkbox  [(ngModel)]="cinco.item2" (click)="pruebitaDos()" value="no" >No</ion-checkbox>

            
          </ion-item>
    


        </ion-col>

      

      </ion-row>

      <ion-row>
          <ion-col col-12>

              <button ion-button outline color="red" style="margin: 0 30px 0 0;width: 70%;font-size: 150%;display:block;
              margin: 0 auto;" (click)="SacarFoto()">Tomar Foto
                  </button>
                
    
              
            

        </ion-col>
       <!-- <ion-col col-6>

            <img [src]="foto" alt="">

           

        </ion-col>-->
      </ion-row>
    <ion-row>
      <ion-col col-12>
          <img [src]="foto" alt="">
      </ion-col>

    </ion-row>

      <ion-row>
          <ion-col col-12 style="
          padding-bottom: 50px;
      ">
    

          <button  ion-button  color="red" style="margin: 0 30px 0 0;width: 70%;display: block;
          margin: 0 auto;" (click)="enviarEncuesta()" >Enviar la encuesta</button>

        </ion-col>
      </ion-row>


   
     



     
        </ion-grid>

      </div>


        <div class="contenidoCharts" *ngIf="probabilidad">


            <!--<h2>Resultado de encuestas</h2>-->

            <!--<h2 class="resultadoEncuesta">Resultado de encuestas</h2>-->

            <!--ion-list-header style="background-color:#CF4946"-->
                <h1 class="realizarEncuesta">Resultados de las encuestas</h1>
              <!--/ion-list-header-->

              <div class="pregunta1">
            <h2 class="asd">Pregunta 1, ¿Cuán limpio es el lugar?</h2>
          
            <!--<div class="col-xs-2 col-sm-2 col-md-2">-->
              <div class="canvas">
                <canvas baseChart class="altoCanvas"
                            [data]="pieChartDataUno"
                            [labels]="pieChartLabelsUno"
                            [chartType]="pieChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="pregunta3">
            <h2 class="asd">Pregunta 3, ¿Le tratan bien sus jefes?</h2>
            
            <div class="canvas">
              <canvas baseChart class="altoCanvas"
                          [data]="pieChartData"
                          [labels]="pieChartLabels"
                          [chartType]="pieChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          <div class="pregunta4">
            <h2 class="asd">Pregunta 4, ¿Le pagan bien?</h2>
          
            <div class="canvas">
                <canvas baseChart class="altoCanvas"
                            [data]="pieChartDataDos"
                            [labels]="pieChartLabelsDos"
                            [chartType]="pieChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
              </div>
              </div>
          <div class="pregunta5">
              <h2 class="asd">Pregunta 5, ¿Dejaría de trabajar acá?</h2>
          
              <div class="canvas">
                  <canvas baseChart class="altoCanvas"
                              [data]="pieChartDataCinco"
                              [labels]="pieChartLabelsCinco"
                              [chartType]="pieChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                </div>
          </div>
                <button  ion-button  color="red" style="margin: 0 30px 0 0;width: 70%;display: block;
                    margin: 0 auto;margin-bottom: 80px;" (click)="Logout()" >Salir</button>
          
  
  
  
        </div>


        

</ion-content>


<!--<ion-content padding *ngIf="probabilidad">
   style="display: block; width: 100%;height: 90%;" 

  <h2>Resultado de encuestas</h2>

  <h2>Pregunta 1,Cuan limpio es el lugar?</h2>

  <div class="col-xs-2 col-sm-2 col-md-2">
      <canvas baseChart
                  [data]="pieChartDataUno"
                  [labels]="pieChartLabelsUno"
                  [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>

  <h2>Pregunta 3,le tratan bien sus jefes?</h2>
  
  <div class="col-xs-2 col-sm-2 col-md-2">
    <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>

  <h2>Pregunta 4,le pagan bien?</h2>

  <div class="col-xs-2 col-sm-2 col-md-2">
      <canvas baseChart
                  [data]="pieChartDataDos"
                  [labels]="pieChartLabelsDos"
                  [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>

    <h2>Pregunta 5,Dejaria de trabajar aca?</h2>

    <div class="col-xs-2 col-sm-2 col-md-2">
        <canvas baseChart
                    [data]="pieChartDataCinco"
                    [labels]="pieChartLabelsCinco"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
      </div>

      <button  ion-button  color="red" style="margin: 0 30px 0 0;width: 70%;display: block;
          margin: 0 auto;" (click)="Logout()" >Salir</button>

 
 

</ion-content>-->