<!--
  Generated template for the MapaDeRutaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>mapaDeRuta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>-->

<ion-header>


  <ion-navbar color="dark" hideBackButton="true">

      

    
    <!-- <ion-title class="titulo2">
      {{usuario.tipo}}
    </ion-title> -->

    <ion-buttons start style="left: 3px;
    position: absolute;">
    <button ion-button (click)="volver()">
  <ion-icon name="arrow-dropleft"></ion-icon>
   </button>
  </ion-buttons>

    

    <ion-buttons end >

       

       
      <button ion-button (click)="Logout()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content #content>

  <div *ngIf="clientes">

      <div class="asdasd" *ngIf="sinPedidos">
          SIN PEDIDOS
        </div>

    <ion-list>

        <!--<h2 class="titulo">Lista de empleados con pedidos realizados</h2>-->

        <ion-list-header style="background-color:#99bbff" *ngIf="!sinPedidos">
          <div class="realizarEncuesta">Pedidos a entregar</div>
        </ion-list-header>
    
       
    
      <ion-item *ngFor="let item of clientesConPedidos">
        <ion-thumbnail item-start>
          <!--<img src={{item.img}}>-->
          <ion-icon name="contact"></ion-icon>
        </ion-thumbnail>
    
      <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
        <p>Cliente • {{item.tipo}}</p>-->
        <h1 class="que">{{item.nombre}}</h1>
        <p class="queDos">{{item.correo}}</p>
        <p class="queDos">{{item.direccion}}</p>
        <p class="queDos">{{item.localidad}}</p>

        <button ion-button clear item-end (click)="chatear(item)">
            <ion-icon name="chatboxes"></ion-icon>
          </button>

          <button ion-button clear item-end (click)="entregar(item)">
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>
    
    
    
    
      </ion-item>
    
    
    </ion-list>


    <ion-list>

        <!--<h2 class="titulo">Lista de empleados con pedidos realizados</h2>-->

        <ion-list-header style="background-color:#99bbff" *ngIf="!sinPagos">
          <div class="realizarEncuesta">Pagos</div>
        </ion-list-header>
    
       
    
      <ion-item *ngFor="let item of PagosPendientes">
        <ion-thumbnail item-start>
          <!--<img src={{item.img}}>-->
          <ion-icon name="contact"></ion-icon>
        </ion-thumbnail>
    
      <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
        <p>Cliente • {{item.tipo}}</p>-->
        <h1 class="que">{{item.nombre}}</h1>
        <p class="queDos">{{item.correo}}</p>
        <p class="queDos">{{item.direccion}}</p>
        <p class="queDos">{{item.localidad}}</p>
        <p class="queDos">$ {{item.cuenta}}</p>

        <button ion-button clear item-end (click)="chatear(item)">
            <ion-icon name="chatboxes"></ion-icon>
          </button>

          <button ion-button clear item-end (click)="confirmarPago(item)">
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>
    
    
    
    
      </ion-item>
    
    
    </ion-list>

    </div>


    <div *ngIf="chat">

      <div class="mapouter" *ngIf="!sinPedidos">
          <p class="queDos">Tiempo estimado de pedido: 30min</p>
        <div class="gmap_canvas">
          <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Mitre 750 Avellaneda&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          </iframe>Google Maps by ASGARDIANOS</div>
          <style>
            .mapouter{
              position:relative;
              text-align:right;
              height:500px;
              width:600px;
              }
            .gmap_canvas {
              overflow:hidden;
              background:none!important;
              height:500px;
              width:600px;
            }
          </style>
    </div>
    </div>

    <div *ngIf="chat">




        <img src={{probando}} style="width: 100px;">
    

          <ion-label class="lb" >{{nombreCliente}}</ion-label>
          <ion-label class="lb" >{{direccionCliente}}</ion-label>

          

        


  <ion-list no-lines>

    <ion-item *ngFor="let message of messagesList">
    <!--  <h3>{{message.name}}</h3>
      <p>{{message.message}}</p>-->

      <div class="chat-message" text-right *ngIf="message.name === probanding">
          <div class="right-bubble">
            <span class="msg-name"></span>
            <span class="msg-date">{{message.tiempo | tiempoDesdeAhora}}</span>
           <!-- <span class="msg-date">{{message.tiempo}}</span>-->
            <p text-wrap>{{message.message}}</p>
          </div>
        </div>

        <div class="chat-message" text-left *ngIf="message.name !== probanding">
          <div class="left-bubble">
            <span class="msg-name">{{message.name}}</span>
            <span class="msg-date">{{message.tiempo | tiempoDesdeAhora}}</span>
            <p text-wrap>{{message.message}}</p>
          </div>
        </div>
      







    </ion-item>
    



  </ion-list>
  

</div>



</ion-content>


<ion-footer *ngIf="mandar">
  <ion-item>
    <ion-input type="text" placeholder="Escriba aquí..." [(ngModel)]="newmessage"></ion-input>
    <button ion-button clear item-right (click)="send()">Enviar</button>
  </ion-item>
</ion-footer>
