<!--
  Generated template for the MapaDeRutaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>mapaDeRuta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>-->

<ion-header>


  <ion-navbar color="red" hideBackButton="true">

      

    
    <!-- <ion-title class="titulo2">
      {{usuario.tipo}}
    </ion-title> -->

    <ion-buttons start style="left: 3px;
    position: absolute;">
    <button ion-button (click)="volver()">
  <ion-icon name="arrow-back"></ion-icon>
   </button>
  </ion-buttons>

    

    <ion-buttons end >

       

       
      <button ion-button (click)="Logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>





<!--<ion-content padding class="home">

    <ion-row class="logo-row">
       
        <ion-col>
            <img src="assets/imgs/gamma/mapaderuta.jpg"/>
          
        </ion-col>
        
      </ion-row>

      
      <ion-label class="lb" >Cliente: supercalifragilisticoespialidoso</ion-label>
      <ion-label class="lb" >Direccion:  Av. Bartolomé Mitre 750</ion-label>
      
  

   <ion-list>
     <ion-item *ngFor="let chat of ListadoDeChats">

   
     <div class="chat-message" text-right >
       <div class="right-bubble">
         <span class="msg-name">Yo</span>
         <span class="msg-date">asdasd</span>
         <p text-wrap>fdsfs</p>
       </div>
     </div>

     <div class="chat-message" text-left >
       <div class="left-bubble">
         <span class="msg-name">Cliente:Juan Perez</span>
         <span class="msg-date">sdfs</span>
         <p text-wrap>asdasd</p>
       </div>
     </div>

   
   </ion-item>
 </ion-list>
   
</ion-content>





<ion-footer no-shadow >
  <ion-toolbar position="bottom" color="light">
    <form (ngSubmit)="enviarMensaje()" #registerForm="ngForm">
      <ion-row>
            <ion-input type="text" placeholder="Nuevo Mensaje" name="mensaje" class="input" [(ngModel)]="mensaje" required></ion-input>
            <ion-buttons end>
                <button ion-button class="submit-btn" icon-only type="submit" [disabled]="!registerForm.form.valid">
                    <ion-icon name="arrow-round-forward"></ion-icon>
                </button>
            </ion-buttons>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-footer>-->




<ion-content #content>

  <div *ngIf="clientes">

      <div class="asdasd" *ngIf="sinPedidos">
          SIN PEDIDOS
        </div>

    <ion-list>

        <!--<h2 class="titulo">Lista de empleados con pedidos realizados</h2>-->

        <ion-list-header style="background-color:#99bbff" *ngIf="!sinPedidos">
          <div class="realizarEncuesta">Pedidos a entregar</div>
        </ion-list-header>
    
       
    
      <ion-item *ngFor="let item of clientesConPedidos">
        <ion-thumbnail item-start>
          <!--<img src={{item.img}}>-->
          <ion-icon name="contact"></ion-icon>
        </ion-thumbnail>
    
      <!--  <h1>{{item.correo}}, {{item.nombre}}</h1>
        <p>Cliente • {{item.tipo}}</p>-->
        <h1 class="que">{{item.nombre}}</h1>
        <p class="queDos">{{item.correo}}</p>

        <button ion-button clear item-end (click)="chatear(item)">
            <ion-icon name="chatboxes"></ion-icon>
          </button>

          <button ion-button clear item-end (click)="entregar(item)">
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>
    
    
    
    
      </ion-item>
    
    
    </ion-list>

    </div>

    <div *ngIf="chat">




        <img src={{probando}} style="width: 100px;">
    

          <ion-label class="lb" >{{nombreCliente}}</ion-label>
          <ion-label class="lb" >{{direccionCliente}}</ion-label>

          

        


	<ion-list no-lines>

		<ion-item *ngFor="let message of messagesList">
		<!--	<h3>{{message.name}}</h3>
      <p>{{message.message}}</p>-->

      <div class="chat-message" text-right *ngIf="message.name === probanding">
          <div class="right-bubble">
            <span class="msg-name"></span>
            <span class="msg-date">{{message.tiempo | tiempoDesdeAhora}}</span>
           <!-- <span class="msg-date">{{message.tiempo}}</span>-->
            <p text-wrap>{{message.message}}</p>
          </div>
        </div>

        <div class="chat-message" text-left *ngIf="message.name !== probanding">
          <div class="left-bubble">
            <span class="msg-name">{{message.name}}</span>
            <span class="msg-date">{{message.tiempo | tiempoDesdeAhora}}</span>
            <p text-wrap>{{message.message}}</p>
          </div>
        </div>
      







    </ion-item>
    



  </ion-list>
  

</div>


</ion-content>


<ion-footer *ngIf="mandar">
	<ion-item>
		<ion-input type="text" placeholder="Escriba aquí..." [(ngModel)]="newmessage"></ion-input>
		<button ion-button clear item-right (click)="send()">Enviar</button>
	</ion-item>
</ion-footer>
