@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 
  }
  @-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
page-pedir-platos {
    @import url('https://fonts.googleapis.com/css?family=Boogaloo');
    @import url('https://fonts.googleapis.com/css?family=Mali|Spicy+Rice');
    @import url('https://fonts.googleapis.com/css?family=Oswald');

    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }
 
    
    .slide
    {
        position:absolute;
       z-index:4000;
        display:none;
        width: 100%;
        height: 100%;
        top: 0;
        background: orangered;
       
        }
      .monto
      {
        position: absolute;
        /* background: red; */
        top: 3%;
        /* border: 1px solid red; */
        z-index: 1000;
        text-align: center;
        width: 100%;
      }
      .animacion
      {
        animation: pulse 2s ease-in-out infinite;

      }
      .soyAlert3
      {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2000;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: none;
        
      }

      .ocultarMonto
      {
          display:none;
      }
      .spinnerMonto
      {
          top: -8%;
        right: 10%;
        position: absolute !important;
        width: 13% !important;
      }
      
      .montoPrincipal
      {
        position: absolute;
        /* background: red; */
        top: 20%;
        /* border: 1px solid red; */
        z-index: 1000;
        text-align: center;
        width: 100%;
      }
     /* .montoPrincipal span
      {
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        background: white;
        padding: 2%;
      
        border-radius: 6%;
        border-radius: 5%;
        background: rgba(238, 227, 227, 0.64);
      } */
      .elMonto
      {
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        background: white;
        padding: 2%;
      
        border-radius: 6%;
        border-radius: 5%;
        background: rgba(238, 227, 227, 0.64);
  
      }
      .elMontoEspera
      {
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        background: white;
        padding: 2%;
      
        border-radius: 6%;
        border-radius: 5%;
        background: rgba(238, 227, 227, 0.64);
     
      }
      .ocultarMontoPrincipal
      {
          display:none;
      }
        .tituloslide
        {
            text-align: center;
            font-family: 'Lobster', cursive;
            color:white;
            font-family: 'Mali', cursive;
            background: black;
    margin-top: 0;


        }
        .descSlide
        {  
            text-align: left;
            font-family: 'Lobster', cursive;
          
            font-family: 'Mali', cursive;
          
        }
        .button-outline-md
        {
            border:none;
        }
        .imgTransparente
        {
            position:absolute;
            z-index:3000;
           display:none;
            position: absolute;
            z-index: 3000;
            width: 100%;
            opacity: .2;
          
        
            height: 124px;
          
            top: 0px;
        }
     .alert
     {
         position:absolute;
         z-index:1000;
         width: 80%;
         left:10%;
         border-radius:5%;
         background: red;
    text-align: center;
    top:50%;
    display:none;
    animation:fadeInDown 2s 1 ease-in-out;  
     }
     .mostrarAlert
     {
         display:block!important;
     }
     .mostrarAlert2
     {
         display:flex!important;
     }
     .alert h1
     {
        font-family: 'Lobster', cursive;
        color:white;
     }
     .elAlert2
     {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(20, 20, 20, 0.44);
    display:none;
     }
     .alert2
     {
      
        border-radius: 5%;
        background: orangered;
        align-items: center;
  
        width:90%;
   
        display:flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding:5%;
        
     }
   
     .alert2 h1
     {
        font-family: 'Lobster', cursive;
        color:white;
     }
     .alert2 input
     {
        height: 33%;
    width: 50%;
    padding-left: 5%;
    padding: 8%;
    font-size: 2em;
     }
     .alert2 .button
     {
        width: 70%;
     
        margin-top: 5%;
    }
     
     .alert3
     {
       
        width: 80%;
        padding:10%;
    
        border-radius: 5%;
        background: rgb(255, 17, 0);
        text-align: center;
      
        justify-content: center;
        
        flex-direction: column;
    

     }
   
     .alert3 h1
     {
        font-family: 'Lobster', cursive;
        color:white;
     }
 
   
      .foto
      {
        height: 50%;
        width: 90%;
        margin-left: 5%;
      }
      
        .mostrarSlide
        {
            display:block;
        }
    .contenido
    {
       
        width: 100%;
        height: 100%!important;
        display: flex;
        flex-direction: column;
        background: url("../assets/imgs/beta/madera.jpg");
        background-repeat:  repeat-y;
        background-size: 100%;
        background-repeat: repeat-y;
        position:relative;
      
    }
    
    .tituloPag
    {
        font-family: 'Lobster', cursive;
        text-align: center;
        color:white;
        font-size:3em;
        background:orangered;
        margin-bottom:20%;
    }
    .tituloPlatos
    {
        font-family: 'Lobster', cursive;
        text-align: center;
        color:white;
   
     
        margin-bottom:10%;
    }
 
    .btnPlatos
    {
        margin-bottom:5%;
        width: 170px;
        height: 170px;
        margin-left:3%;
        border-radius: 104px;
        position: relative;
        box-shadow: 0 2px 17px 0 black;
    }
    .btnPlatos img
    {
        max-width: 100%;
        border: 0;
        width: 105px;

        position: absolute;
        top: 0;
    }
    .btnPlatos span
    {
        margin-top:23%;
    }
    .btnBebidas 
    {
        margin-bottom:5%;
        width: 170px;
        height: 170px;
        margin-left:3%;
        border-radius: 104px;
        position: relative;
        box-shadow: 0 2px 17px 0 black;
    }
    .btnBebidas img
    {
        max-width: 100%;
        border: 0;
      
        width: 105px;

        position: absolute;
        top: 5px;
        height: 90px;
    }
    .btnBebidas span
    {
        margin-top:23%;
    }
    .botonespp
    {
        margin-top: 17%;
        display: flex;
        justify-content: space-around;
    }
    .inpDireccion
    {
        margin-top: 5%;
        width: 70%;
        margin-left: 15%;
        background: #f7f5f2b8;;
        border: 3px solid white;
        padding: 5%;
        border-radius: 4% 4% 4% 4%;
        font-size: 1.5em;
        font-family: 'Boogaloo', cursive;
    }
    .inpDireccion::placeholder
    {
       
        font-size: 1.5em;
        font-family: 'Boogaloo', cursive;
        text-align: center;
       }  
       
       .btnPedir
       {
        width: 50%;
        margin-left: 25%;
        margin-top: 25%;
      
        font-size: 1.7em;
        height: 15%;
        font-family: 'Boogaloo', cursive;
       }
       .platos
       {
           position: absolute;
           z-index:1000;
         
           width: 100%;
           height: 75%;
           top: 24%;
           background: orangered;
           overflow:scroll;
           
               
       }
       .elPlato
       {
        width: 100%;
        
        /* border: 5px solid red; */
        overflow: scroll;
        background: white;
      
        height: 76%;
        /* border: 5px solid red; */
        overflow: scroll;
        background: white;
        /* margin-top: -20px; */
        margin-top: -9%;
       }
   
       .plato{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        position: relative;
      // height: 30%;
      height:110px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    
        border-bottom: 1px solid grey;
       }
       .platoImagen{
        width: 20%;
        position: absolute;
        left: 2%;
        top: 15%;
        height: 70%;
       }
       #img
       {
        width: 20%;
        position: absolute;
        right: 2%;
        top: 35%;
        height: 60%;
       }
.elegido
{
    position:absolute;
    z-index:3000;
   display:none;
    position: absolute;
    z-index: 3000;
    width: 100%;
  
  

    height: 124px;
    background-color:rgba(236, 15, 15, 0.61);
    top: -17px;
}
.mostrarElegido
{
    display:block;
}
.cerrarSlide
{
    font-size:2.5em;
}
       .plato .precio
       {
        position: absolute;
        right: 5%;
        top: 3%;
        font-size: 1.5em;
       } 
       .platoCant
       {
        position: absolute;
        left: 25%;
        bottom: 17%;
        font-size: 1.5em;
       }

       .plato h2
       {
           margin-left:25%;
       }
       .plato button
       {
        position: absolute;
        right: 2%;
        bottom: 5%;
        width: 30%;
       }
       .ocultar
       {
           display:none;
       }
       .ocultarTit
       {
           visibility: hidden;
       }
       .inpCantidad
       {
        margin-left: 50%;
        margin-top: 7%;
        width: 10%;
        height: 30%;
       }
       .aceptarBtn
       {
              
    width: 30%;
  
    position: absolute;
    bottom: 0%;
    left: 17.5%;
       }
       .cancelarBtn
       {
        width: 30%;
  
        position: absolute;
        bottom: 0%;
        right:  17.5%;

       }
       @media  screen and(max-height:"550px")
       {
           .aceptarBtn, .cancelarBtn
           {
               display:none;
           }
           
           .elPlato {
              height:65%;
           }
           .monto
           {
               display:none;
           }
           .contenido
           {
               height: 600px!important;
           }
         .platos
         {
             height: 95%;
         }
           
       }
/*-----------------------------Animacion----------------------------------*/

 
}