<!--
  Generated template for the AltaPlatosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="alert3" [ngClass]="{'mostrarAlert3':mostrarAlert3}">
    <h1>{{mensaje}}</h1>
  </div>
<ion-header>
  <ion-navbar color="red"  hideBackButton="true">

  
      <ion-buttons start style="left: 3px;
      position: absolute;">
        <button ion-button (click)="Atras()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    <!-- <ion-title>{{sala}}</ion-title> -->
    <!-- <p class="subtitle" style="color: white;">{{usuario.mail}}</p> -->

    <ion-buttons end>
      <button ion-button>
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="red">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item>
            <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;Convencional
        </button>
        <button ion-item>
          Friends
        </button>
        <button ion-item>
          Events
        </button>
        <button ion-item >
          Close Menu
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #content swipeBackEnabled="false"></ion-nav>



<ion-content >


{{error}}
<div class="paraCocinero" *ngIf="esCocinero" >

  <div class="contenido" [ngClass]="{'ocultar':ocultar}">
    <h1 class="titulo">Alta de platos y bebidas.</h1>
    <h2 class="tituloCheck">¿Qu&eacute; desea cargar?</h2>
    <div class="opciones" radio-group [(ngModel)]="carga"> 
            
          <div class="opcion2">
                    <ion-label for="radio1">Bebida</ion-label>
                    <ion-radio id="radio1" value="bebidas" (ionSelect)="opcion()"></ion-radio>
        
          </div>
          <div class="opcion1">
              <ion-label for="radio2"> Plato</ion-label>
              <ion-radio id="radio2" value="platos"  (ionSelect)="opcion()"></ion-radio>
        </div>
  </div>
  <!--h2 class="tituloCheck"  *ngIf="cocineroBebida">¿Qu&eacute; bebida cargara?</h2>
  <div class="opcionesBebidas" radio-group [(ngModel)]="tipoBebida" *ngIf="cocineroBebida"> 
          
        <div class="bebidaOpcion1">
                  <ion-label for="radio1">Agua</ion-label>
                  <ion-radio id="radio1" value="agua" (ionSelect)="opcion('salir')"></ion-radio>
      
        </div>
        <div class="bebidaOpcion2">
            <ion-label for="radio2"> jugo</ion-label>
            <ion-radio id="radio2" value="jugo"  (ionSelect)="opcion('salir')"></ion-radio>
      </div>
      <div class="bebidaOpcion3">
          <ion-label for="radio2"> Gaseosa</ion-label>
          <ion-radio id="radio2" value="gaseosa"  (ionSelect)="opcion('salir')"></ion-radio>
    </div>
</div-->

  <input class="nombrePlato" type="text" [(ngModel)]="nombre" placeholder="Nombre ">
  <textarea class="descripcion" [(ngModel)]="descripcion" placeholder="Descripci&oacute;n..."></textarea>
 <div class="tiempoDiv" [ngClass]="{'ocultar':ocultarTiempo}"> <input class="tiempo"  [(ngModel)]="tiempo" type="text" ><label class="tiempoLabel">mins de elaboraci&oacute;n</label>
  </div>  
  <div class="tiempoDiv"> <input class="tiempo" type="text" [(ngModel)]="cantidad" ><label class="tiempoLabel">Cantidad de {{cantMostrar}}</label>
  </div>  
  <div class="precioDiv"> <label class="precioLabel">$</label><input [(ngModel)]="precio" class="precio" type="text"> <label class="tiempoLabel">Precio</label>
    <button ion-button color="dark"  [ngClass]="{'ocultar':ocultarQr}"(click)="LeerQr()" outline class="Qr1">Leer QR</button>
 
  </div>  
 

 
    <div class="elContenido" >
       <img class="spinnerPropio" *ngIf="mostrarSpinner" src="assets/imgs/spinner.gif" />
      <h1 class="titulo">Fotos</h1>
      <button ion-button color="dark"   [ngClass]="{'mostrarBoton':mostrarbtn1}" (click)="tomarFoto1()" class="Foto1">  <ion-icon ios="ios-camera" md="md-camera"></ion-icon> </button>
      <img class="laFoto1" [src]="foto1" [ngClass]="{'mostrarLaFoto':mostrarfoto1}" >
      <button ion-button color="dark" [ngClass]="{'mostrarBoton':mostrarbtn2}" (click)="tomarFoto2()" class="Foto2">   <ion-icon ios="ios-camera" md="md-camera"></ion-icon></button>
      <img class="laFoto2" [src]="foto2"  [ngClass]="{'mostrarLaFoto':mostrarfoto2}">
      <button ion-button color="dark"  [ngClass]="{'mostrarBoton':mostrarbtn3}" (click)="tomarFoto3()" class="Foto3">  <ion-icon ios="ios-camera" md="md-camera"></ion-icon> </button>
      <img class="laFoto3" [src]="foto3" [ngClass]="{'mostrarLaFoto':mostrarfoto3}">
      <div class="botones">
    

          <button ion-button color="red" (click)="Cargar()"  class="TomarFotos"> Cargar</button>
          <button ion-button color="red" (click)="Cancelar()" class="Qr">Cancelar</button>
        
        </div>
       
    </div>
  </div>

</div>
<div class="paraBartender"  *ngIf="esBartender">
  <div class="contenido" [ngClass]="{'ocultar':ocultar}">
    <h1 class="titulo">Alta de  bebidas y/o tragos.</h1>
    
         
  </div>
  <input class="nombrePlato" type="text" [(ngModel)]="nombre" placeholder="Nombre de la bebida o trago">
  <textarea class="descripcion" [(ngModel)]="descripcion" placeholder="Descripci&oacute;n..."></textarea>
 <div class="tiempoDiv" [ngClass]="{'ocultar':ocultarTiempo}"> <input class="tiempo"  [(ngModel)]="tiempo"   type="text" ><label class="tiempoLabel">mins de elaboraci&oacute;n</label>
  </div>  
  <div class="tiempoDiv"> <input class="tiempo" type="text" [(ngModel)]="cantidad" ><label class="tiempoLabel">Cantidad de cent cúbicos.</label>
  </div>  
  <div class="precioDiv"> <label class="precioLabel">$</label><input [(ngModel)]="precio" class="precio" type="text" ><label class="tiempoLabel">Precio</label>
    <button ion-button color="dark" (click)="LeerQr()" outline class="Qr1">Leer QR</button>
 
  </div>  
 

 
    <div class="elContenido" >
        <img class="spinnerPropio altura" *ngIf="mostrarSpinner" src="assets/imgs/spinner.gif" />
        <h1 class="titulo">Fotos</h1>
      <button ion-button color="dark"   [ngClass]="{'mostrarBoton':mostrarbtn1}" (click)="tomarFoto1()" class="Foto1">  <ion-icon ios="ios-camera" md="md-camera"></ion-icon> </button>
      <img class="laFoto1" [src]="foto1" [ngClass]="{'mostrarLaFoto':mostrarfoto1}" >
      <button ion-button color="dark" [ngClass]="{'mostrarBoton':mostrarbtn2}" (click)="tomarFoto2()" class="Foto2">   <ion-icon ios="ios-camera" md="md-camera"></ion-icon></button>
      <img class="laFoto2" [src]="foto2"  [ngClass]="{'mostrarLaFoto':mostrarfoto2}">
      <button ion-button color="dark"  [ngClass]="{'mostrarBoton':mostrarbtn3}" (click)="tomarFoto3()" class="Foto3">  <ion-icon ios="ios-camera" md="md-camera"></ion-icon> </button>
      <img class="laFoto3" [src]="foto3" [ngClass]="{'mostrarLaFoto':mostrarfoto3}">
      <div class="botones">

          <button ion-button color="red" (click)="Cargar()"  class="TomarFotos"> Cargar</button>
          <button ion-button color="red" (click)="Cancelar()" class="Qr">Cancelar</button>
        
        </div>
    </div>


  </div>


</ion-content>


