@font-face {
    src: url("../../assets/fonts/Cinzel-Regular.ttf");
    font-family: cinzel;
}

page-encuesta-supervisor {

    .scroll-content {
        // background-image: url('../../assets/imgs/alfa/encuesta-supervisor.jpg');
        background-size: cover; 
        background-position: center;
        background-color: #FCE5C6;
    }

    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px 20px 10px 20px;
        background-color: color($colors, red);
        color: white;
        font-family: cinzel;
        margin-bottom: 0;
    }

    .encuesta {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px 0 50px 0;

        .canvas {
            width: 200px;
            height: auto;
            display: inline-block;
            position: relative;
            left: -30px;
        }

        ion-list {
            position: relative;
            top: 10px;

            ion-item {
                background-color: transparent !important;

                border-color: red;
            }
        }

    }

    select {
        width: 75%;
        position:relative;
        left: -45px;
        border: gray solid 2px;
        padding: 10px;
        margin: 20px 0 20px 0;
    }

    .item-inner {
        border-color: color($colors, red) !important;
    }

    textarea {
        border-color: color($colors, red);
        border-style: solid;
        padding: 5px 10px 5px 10px;
        margin: auto;
    }

    .mi-range {
        position: relative;
        left: -50px;
        right:-50;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:150%;
    }

    .enviar {
        display: block;
        margin: auto;
        text-transform: none;
        margin-bottom: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .comentarios {

        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
        border-bottom: dashed orange 5px;
        min-height: 120px;

        img {
            float: left;
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }

        h2, h5 {
            margin: 0;
        }

        h2 {
            margin-bottom: 3px;
        }

        p {
            text-align: justify;
            margin-bottom: 30px;
            line-height: 1.6;
        }

    }

    .comentarios:last-of-type {
        border: none;
    }

    .opacidad {
        animation-name: opacidad;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    .imagen {
        position: absolute;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        ion-icon {
            position: absolute;
            top: 5%;
            right: 5%;
            z-index: 11;
            color: white;
            font-size: 50px;
        }

        img { height: auto; }
    }

    .ocultar {
        display: none !important;
    }

}

