<!--
  Generated template for the RegistroClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.-->
  <div class="alert" [ngClass]="{'mostrarAlert':mostrarAlert}">
    <h1>El usuario se registr&oacute; exit&oacute;samente!!</h1>
  </div>
  <ion-header>
  <ion-navbar color="red" hideBackButton="true">

    
 

    <span class="tituloPagina">Registro </span>



  
    <ion-buttons start style="left: 3px;
    position: absolute;">
      <button ion-button (click)="Atras()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    </ion-navbar>
  </ion-header>
  
  
<ion-content [ngClass]="{'ocultar-fondo':ocultarContenido}">
<div class="vertical" [ngClass]="{'ocultar2':ocultarContenido}">
  <app-spinner *ngIf="mostrarSpinner"></app-spinner>
  <div class="form" *ngIf="formReg">
    <img class="foto" [src]="prueba" *ngIf="prueba!=''">
  
    <div class="elTituloForm">
    <h2 class="tituloForm">Registro de Cliente</h2>
 
    </div>
    <input type="text" class="miInput" [(ngModel)]="nombre" placeholder="nombre" name="nombre"><br>
    
    <input type="text" class="miInput" placeholder="apellido" name="pass" [(ngModel)]="apellido"  ><br>
    <input type="number" class="miInput" placeholder="D.N.I" name="pass" [(ngModel)]="dni" name="pass" ><br>
    <input type="text" class="miInput" placeholder="Correo" name="pass" [(ngModel)]="correo"  ><br>
    <input type="text" class="miInput" placeholder="Contraseña" name="pass" [(ngModel)]="pass" ><br>
    <button ion-button color="dark" (click)="tomarFoto()">FOTO</button>
    <button ion-button color="dark" (click)="scanear()">Leer DNI con QR</button>
    <button id="btnRegistrar" ion-button color="dark" outline (click)="Registrar()">Registrar</button>
  </div>
  <div class="form"  *ngIf="formAnon">
      <img class="foto" [src]="prueba" *ngIf="prueba!=''">
    <div class="elTituloForm">
      <h2 class="tituloForm">An&oacute;nimo</h2>
      <button ion-button class="btnCerrar" (click)="cerrarForm()" id="btnCerrar">
          <ion-icon name="close"></ion-icon>

        </button>
    </div>
      <input type="text" class="miInput" [(ngModel)]="nombre" placeholder="nombre" name="nombre"><br>
      <input type="text" class="miInput" placeholder="Correo" name="pass" [(ngModel)]="correo"  ><br>
      <input type="password" class="miInput"  placeholder="Contraseña" name="pass" [(ngModel)]="pass"  ><br>
      <button ion-button color="dark" (click)="tomarFoto()">FOTO</button>
    
      <button id="btnRegistrar" ion-button color="dark" outline (click)="RegistrarAnonimo()">Registrar</button>
    </div>
  <div class="inicial" *ngIf="formInicial" >
    <h1>Elija el tipo de usuario que desea ser:</h1>
    <div class="botonesInicial">
      <button ion-button (click)="ElegirUsuario('registrado')" class="botonesInicio" color="dark">Cliente</button>
      <button ion-button (click)="ElegirUsuario('anonimo')" class="botonesInicio" color="dark">An&oacute;nimo</button>
    </div>
  </div>
  
</div>

</ion-content>