@font-face {
    src: url("../../assets/fonts/Cinzel-Regular.ttf");
    font-family: cinzel;
}

@keyframes opacidad {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, .7); }
}

page-listado-reservas {

    .scroll-content {
        background-image: url('../../assets/imgs/alfa/encuesta-supervisor.jpg');
        background-size: cover; 
        background-position: center;
    }

    .opacidad {
        animation-name: opacidad;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    ion-item {
        background-color: rgba(0, 0, 0, .5) !important;
        color: white !important;

        p {
            color: rgba(255, 255, 255, .9) !important;
        }

        ion-icon {
            color: white;
            font-size: 30px;
        }
    }

    .sin-elementos {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 150px;
        }

        h1 {
            text-align: center;
        }
    }

    .titulo {
        width: 100%;
        padding: 10px 10px 10px 10px;

        font-family: cinzel;
        text-align: center;
        background-color: rgba(207, 73, 70, 1);
        color: white;
    }

    .imagen {
        position: absolute;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;

        ion-icon {
            position: absolute;
            top: 5%;
            right: 5%;
            z-index: 11;
            color: white;
            font-size: 50px;
        }

        img { height: auto; }
    }

    .interfaz-mesas {
        position: fixed;
        z-index: 10;
        bottom: 0;
        width: 100%;

        background-color: #FCE5C6;
        height: auto;
        border-top: solid 5px color($colors, red); 

        h1 {
            margin: 15px 10px 15px 10px;
            text-align: center;
            color: color($colors, red);
        }

    }

    .mesas {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-top: solid color($colors, red) 1px;
        border-bottom: solid color($colors, red) 1px;
    }

    .mesa {
        flex-grow: 1;
        width: 20%;
        height: 100px;
        background-color: color($colors, red);
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: white;
        padding: 0;
    }

    .selected {
        outline: solid #94A82F 2px;
        outline-offset: 5px;
    }

    .botones-interfaz-mesa {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

        button {
            padding: 30px 20px 30px 20px;
        }
    }

    .animation-target {
        animation-name: jelly;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    .ocultar {
        display: none !important;
    }

}
