@font-face {
    src: url("../../assets/fonts/Cinzel-Regular.ttf");
    font-family: cinzel;
}

@keyframes opacidad {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, .7); }
}

page-mis-reservas {

    .scroll-content {
        background-image: url('../../assets/imgs/alfa/encuesta-supervisor.jpg');
        background-size: cover; 
        background-position: center;
    }

    .opacidad {
        animation-name: opacidad;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    ion-item {
        background-color: rgba(0, 0, 0, .5) !important;
        color: white !important;

        p {
            color: rgba(255, 255, 255, .9) !important;
        }

        ion-icon {
            color: white;
            font-size: 30px;
        }
    }

    .sin-elementos {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 150px;
        }

        h1 {
            text-align: center;
        }
    }

    .titulo {
        width: 100%;
        padding: 10px 10px 10px 10px;

        font-family: cinzel;
        text-align: center;
        background-color: rgba(207, 73, 70, 1);
        color: white;
    }

    .ocultar {
        display: none !important;
    }

    .animation-target {
        animation-name: jelly;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

}
